@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mallanna&display=swap");

:root {
  --primary-color: purple;
  --secondary-color: #ffb20a;
}

body {
  font-family: "Sacramento", sans-serif;
  text-align: center;
  display: block;
  margin: 0rem 0rem;
}
.Img {
  height: 2rem;
  width: 2rem;
  float: right;
  margin: 0rem 2rem;
}
header {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
}

#name {
  float: left;
  margin: 0.2rem auto;
  color: var(--primary-color);
  font-size: 2rem;
}

#searchBar {
  margin: 0rem 2rem;
}
select {
  height: 2rem;
  width: 3rem;
}
input {
  height: 1.66rem;
  width: 15rem;
}
button {
  height: 2.05rem;
}

div.relative {
  position: fixed;
  right: 2rem;
  top: 0rem;
  font-family: "Mallanna", sans-serif;
  color: var(--primary-color);
  font-size: 1rem;
}
